<!doctype html>
<html>
<head>
<title>{{title}}</title>
<script src="/main.js" async></script>
<style>{{css}}</style>
<script>{{js}}</script>
<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
